.toc-block {

    > ul {
        border-left: none !important;

        > li {
            margin-bottom: 2rem !important;

            &:before {
                @include svg-icon($icon-chevron-right, 0.75rem, $color__primary);
                margin-right: 15px;
                vertical-align: 0.02em;
            }
        
            > a {
                font-weight: 600 !important;
                font-size: 1.125rem;
                margin-bottom: 0.5rem;
                display: inline-block;
            }

        }

        ul {
            > li {
                margin-bottom: 0.3rem;

                &:before {
                    @include svg-icon($icon-circle, 0.4rem, $color__primary);
                    margin-right: 15px;
                    vertical-align: 0.25em;
                }
    
            }
        }
        
    }
    
}
