body,
button,
input,
select,
optgroup,
textarea {
    color: $color__main-text;
    font-family: $font__body;
    font-size: $font__base-size;
    line-height: $font__base-line-height;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "kern", "liga", "calt";
}

@import "headings";
@import "copy";
