@use "../../abstracts" as *;

.site-page-pagination {
    display: flex;
    font-variant-numeric: tabular-nums;
    border-top: 1px solid var(--border);
    gap: var(--space-4);
    justify-content: center;
    margin: var(--space-8) 0;
    padding: var(--space-8) 0;

    a {
        @include secondary-button;
        font-size: $font__xs-size;
        padding: var(--space-2) var(--space-3);
    }
}
